[submodule "ion-schema-tests"]
	path = ion-schema-tests
	url = https://github.com/amzn/ion-schema-tests.git
[submodule "ion-schema-schemas"]
	path = ion-schema-schemas
	url = https://github.com/amzn/ion-schema-schemas.git
